<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="br.com.olx.listing">

    <dist:module
            dist:instant="true"
            dist:onDemand="false"
            dist:title="@string/title_listing">
        <dist:fusing dist:include="false"/>
    </dist:module>

</manifest>