<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="br.com.olx.adview">

    <dist:module
        dist:instant="true"
        dist:title="@string/title_adview">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>